<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Fullstaq Ruby" %></title>
    <%= stylesheet_link_tag "bootstrap", "site", "icomoon", "custom" %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header role="banner" id="fh5co-header">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <% link_to '/index.html', class: 'navbar-brand' do %><%= image_tag 'fullstaq-logo-small.png', srcset: 'fullstaq-logo-small.png 1x, fullstaq-logo-small@2x.png 2x', class: 'logo', alt: '', 'aria-hidden': true %><span class="vendor">Fullstaq</span> <span class="product">Ruby</span> <sup class="beta-disclaimer">beta</sup><% end %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <!--
              <% navbar_dropdown 'Get Started', :get_started, @current_section do %>
                <%= navbar_link 'For Servers', [:get_started, :get_started_for_servers], @current_section, '#' %>
                <li role="separator" class="divider"></li>
                <li class="disabled"><a href="#">For Containers <span class="badge">coming soon!</span></a></li>
                <li class="disabled"><a href="#">For Heroku <span class="badge">coming soon!</span></a></li>
              <% end %>
              -->

              <%= navbar_link 'Get Started', :get_started, @current_section, 'https://github.com/fullstaq-labs/fullstaq-ruby-server-edition#installation' %>
              <% navbar_dropdown 'Editions', :editions, @current_section do %>
                <%= navbar_link %Q{Server Edition <span class="label label-primary">beta</span>}, [:editions, :server_edition], @current_section, 'https://github.com/fullstaq-labs/fullstaq-ruby-server-edition#readme' %>
                <li role="separator" class="divider"></li>
                <li class="disabled"><a href="#">Container Edition <span class="label label-default">coming soon!</span></a></li>
                <li class="disabled"><a href="#">Heroku Edition <span class="label label-default">coming soon!</span></a></li>
              <% end %>
              <%= navbar_link 'Roadmap', :roadmap, @current_section, 'https://github.com/fullstaq-labs/fullstaq-ruby-project/projects' %>
              <%= navbar_link 'Github', :github, @current_section, 'https://github.com/fullstaq-labs/fullstaq-ruby-server-edition' %>
              <%= navbar_link 'Follow', :follow, @current_section, 'https://twitter.com/honglilai' %>
              <%= navbar_link 'About', :about, @current_section, '/index.html', anchor: 'about' %>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="brand">
          <% link_to '/index.html' do %><%= image_tag 'fullstaq-logo-small.png', srcset: 'fullstaq-logo-small.png 1x, fullstaq-logo-small@2x.png 2x', class: 'logo', alt: '', 'aria-hidden': true %><span class="vendor">Fullstaq</span> <span class="product">Ruby</span> <sup class="beta-disclaimer">beta</sup><% end %>
        </div>

        <div>
          <nav>
            <ul>
              <li><%= link_to 'Get Started', 'https://github.com/fullstaq-labs/fullstaq-ruby-server-edition#installation' %></li>
              <li><%= link_to 'Roadmap', 'https://github.com/fullstaq-labs/fullstaq-ruby-project/projects' %></li>
              <li><%= link_to 'Github', 'https://github.com/fullstaq-labs/fullstaq-ruby-server-edition' %>
              <li><%= link_to 'Follow', 'https://twitter.com/honglilai' %>
              <li><%= link_to 'About', '/index.html', anchor: 'about' %>
            </ul>
          </nav>
        </div>

        <div class="acknowledgements">
          <a href="https://www.vexels.com/vectors/preview/151224/slot-diamond-icon">Blue slot diamond icon originally designed by Vexels.com</a>
        </div>
      </div>
    </footer>

    <% if config[:google_analytics] %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142401740-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-142401740-1');
      </script>
    <% end %>

    <%= javascript_include_tag "jquery-3.4.1.min", "bootstrap.min", "site" %>
  </body>
</html>
